*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    padding-bottom:10%;
}
.big{
    transition: 0.3s;
}
.big:hover{
	transform: scale(1.1);
}

/*Blue color */
.colors{
    width:100%;
    margin-top:10%;
    padding: 0 5rem 0 5rem;
}
.img-line1{
    display:flex;
    justify-content: center;
    width:54.4%;
    padding-left:0.7rem;
    gap: 1%;
}

.img-blue-room{
    width:45%;
    height:41.2rem;
    float:left;
    background-image: url(./img/Blue\ Room.png);
    background-position: center;
    background-size: cover;
}
.img-line2{
    display:flex;
    justify-content: center;
    height:22.6rem;
    width:54.4%;
    margin-top:0.5%;
    padding-left:0.7rem;
    gap:1%;
}
.inside-lewis-daves{
    width:50%;
    background-image: url(./img/Inside\ Lewis\ Daves.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.bossa-samurai{
    width:50%;
    background-image: url(./img/Bossa\ Samurai.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.img-container{
    width:33%;
    height:18rem;
}
#img-container1{
    background-image: url(./img/aquarium\ head.png);
    background-position: center;
    background-size: cover;
}

#img-container2{
    background-image: url(./img/BeatBoyz\ fan\ art.png);
    background-position: center;
    background-size: cover;
}

#img-container3{
    background-image: url(./img/blue.png);
    background-position: center;
    background-size: cover;
}

/*other-drawings*/
.drawings-container{
    width:100%;
    margin-top:3%;
    padding: 0 5rem 0 5rem;
}

.img-amanda{
    width:45%;
    height:41.2rem;
    float:right;
    background-image: url(./img/Amanda\ KnightStalker.png);
    background-position: center;
    background-size: cover;
}
.Havoc-cat{
    width:50%;
    background-image: url(./img/cat\ havoc.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.red{
    width:50%;
    background-image: url(./img/red.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#img-container4{
    background-image: url(./img/FlamingoPSD.png);
    background-position: center;
    background-size: cover;
}
#img-container5{
    background-image: url(./img/sketch\ herworld\ artcontest.png);
    background-position: center;
    background-size: cover;
}
#img-container6{
    background-image: url(./img/panda\ femea.png);
    background-position: center;
    background-size: cover;
}

/*some-other-drawings*/
.some-other-drawings{
    display:flex;
    gap:1%;
    width:100%;
    margin-top:3%;
    padding: 0 5rem 0 5rem;
}
.medium-container{
    width:25%;
    height:25rem;
}
#crypto-gang{
    background-image: url(./img/DCryptoGangPSD.png);
    background-position: center;
    background-size: cover;
}
#trigun{
    background-image: url(./img/Fan\ Art\ Rokkunoru\ Stampede\ Vash.png);
    background-position: center;
    background-size: cover;
}
#wet-feet{
    background-image: url(./img/Pé.png);
    background-position: center;
    background-size: cover;
}
#aline{
    background-image: url(./img/aline.png);
    background-position: center;
    background-size: cover;
}

/*insect-head*/
.insect-head{
    display:flex;
    gap:0.5%;
    width:100%;
    margin-top:2%;
    padding: 0 5rem 0 5rem;
}
.big-container{
    width:50%;
    height:41rem;
}

#bee-head{
    background-image: url(./img/bee\ head.png);
    background-position: center;
    background-size: cover;
}
#fly-head{
    background-image: url(./img/fly\ head.png);
    background-position: center;
    background-size: cover;
}