@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    -webkit-font-smoothing: antialiased;
}
body {
    display: flex;
    background-color: #18181B;
    color: #ffff;
    font-family: "Montserrat";
    margin: 0;
    height: 100vh;
    overflow: hidden;
}
.professional-content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2%;
}
.professional-card{
    background-color: #fafafa;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #181818;
    padding: 2rem;
}
.job-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.job-time-gj{
    font-weight: medium;
    background-color: #dcfce7;
    color: #166534;
    border-radius: 50px;
    padding: 0.5rem;
}
.job-time-ibm{
    font-weight: medium;
    background-color: #e0e7ff;
    color: #3730a3;
    border-radius: 50px;
    padding: 0.5rem;
}
.job-time-unicamp{
    font-weight: medium;
    background-color: #f3e8ff;
    color: #7827a8;
    border-radius: 50px;
    padding: 0.5rem;
}
.job-time-tavile{
    font-weight: medium;
    background-color: #fee2e2;
    color: #991b1b;
    border-radius: 50px;
    padding: 0.5rem;
}
.span{
    font-style:italic;
    font-weight:bold;
}
ul{
    list-style: none;
}

h3{
    font-size: 2em;
    font-weight: bold;
}
h4{
    font-size: 1.5em;
}
.title-experience{
    color: #181818;
    font-size: 1.1em;
}

.side-menu {
    display: flex;
    background-color: #18181B;
    height: 100vh;
    width: 16rem;
    position: absolute;
    z-index: 10;
    padding: 1%;
    padding-top: 3%;
}
.subtitle-container{
    display: flex;
    margin-top: 2%;
}
.subtitle{
    width:100%;
    margin-top: -10px;
}

.contact-icons{
    display: flex;
    gap:15px;
    margin-top:10%;
    font-size: 0.6em;
}
.icon-div{
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius:8px;
    padding:10px;
}
.icon-div:hover{
    background-color:#27272A;
}

.profile-info{
    display:flex;
    flex-direction: column;
    padding:10px;
}

.content {
    width: 100%;
    padding: 1% 5% 2% 5%;
    margin-left: 300px;
    background-color:#fcfcfc;
    background-image: url(/img/noise-pattern-with-subtle-cross-lines.png);
    overflow: scroll;
    height:55rem;
    color: #4e4e4e;
    position: relative;
    z-index:1;
}

.experience-list {
    list-style: none;
    padding: 0;
    position: relative;
}

.experience-list::before {
    content: "";
    position: absolute;
    left: 10px;
    top: 0;
    width: 1px;
    height: 100%;
    background: #4E4E4E;
}

.experience-item {
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
}

.experience-item::before {
    content: "";
    position: absolute;
    left: 7px;
    top: 5px;
    width: 7px;
    height: 7px;
    background: #4e4e4e;
    border-radius: 2px;
}

.academic-content{
    width: 100%;
    display:flex;
    gap: 5%;
}
.academic-icon{
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    padding: 0.5rem;
    border-radius: 8px;
    width: 2rem;
    height: 2rem;
}
.academic-icon-estacio{
    background-color: #3B82F6;
}
.academic-icon-etec{
    background-color: #6366f1;
}
.academic-institution{
    width:100%;
    font-weight: bold;
    font-size: 1em;
}
.academic-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1%;
}
.academic-item{
    background-color: #fafafa;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #181818;
    padding: 1.5rem;
    width: 100%;
}
.skills{
    background-color: #fafafa;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2rem;
}
.skill-list{
    display:flex;
    flex-wrap: wrap;
    width: auto;
    gap:8px;
}
.skill-item-container{
    display: flex;
    padding: 0.3rem;
    align-items: center;
    justify-content: center;
    border: solid 1px #18181B;
    height:1.5em;
    border-radius: 6px;
}
.skills-tools{
    display:flex;
    margin-top:1%;
}
.skill-list-icons{
    display:flex;
    flex-wrap:wrap;
    width:60%;
    gap: 2%;
}
.skill-icon{
    width: 3rem;
    border-radius:8px;
}
.skill-icon-container{
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7em;
    padding:0.2rem;
}

/*Scroll-bar*/
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: padding-box;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

/*Overlay Portfolio*/
.overlay {
    display:flex;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 0.5%;
    transition: width 0.7s ease;
    width: 16rem; 
    height:100vh;
    background: #181818;
    justify-content: center;
    z-index: 2;
}
.portfolio-btn{
    display:flex;
    position: absolute;
    width: 3rem;
    height: 35vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    right: 0.5rem;
    padding: 1rem;
    gap: 3rem;
    top: 40vh;
    left: 17rem;
    background-color:#18181B;
    border: none;
    border-radius: 8px;
    color:#fafafa;
    transition: left ease 0.65s;
    z-index: 50;
}
.portfolio-btn:hover{
    cursor: pointer;
}
.portfolio-text-btn{
    width: 200px;
    font-family: "Montserrat";
    color: #ffff;
    font-weight: bold;
    transform: rotate(90deg);
}
.portfolio-text-btn:hover{
    color: #a1a1a1;
    transition: 0.3s;
}

.portfolio-container{ 
    width: 100%;
    padding: 1rem;
    display: flex;
    gap: 2rem;
    color: #fafafa;
    font-size: 0.9em;
}

.portfolio-content{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-left: 25vw;
    border-radius: 8px;
    width: 100%;
    height: 55rem;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none; 
}
.sua-div::-webkit-scrollbar {
  display: none;
}
.portfolio-item{
    display: flex;
    align-items: center;
    width: 90%;
    gap: 6rem;
}
.portfolio-item-background{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    border-radius: 4px;
}
.portfolio-item-info{
    width: 55%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.portfolio-item-page{
    height: auto;
    width: 100%;
    border: none;
    border-radius: 4px;
}
img{
    width:100%;
    height:auto;
    display: block;
}

.btn-visit-site{
    font-family: "Montserrat";
    font-size: 16px;
    padding: 0.5rem;
    border: solid 1px #fafafa;
    border-radius: 6px;
    background-color: transparent;
    color: #fafafa;
}
.btn-visit-site:hover{
    background-color: #222222;
    transition: 0.3s;
    cursor: pointer;
}
.btn-abrir-pdf{
    border-radius: 6px;
    background-color: #FAFAFA;
    font-family: "Montserrat";
    color: #181818;
    border: none;
    font-size: 16px;
    font-weight: bold;
    padding: 1em;
}
.btn-abrir-pdf:hover{
    background-color: #e6e6e6;
    transition: 0.3s;
    cursor: pointer;
}
.buttons-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.custom-link{
    text-decoration: none;
    color: #fafafa;
}

/*PDF-Overlay*/
.pdf-overlay{
    display: none;
    position: absolute;
    width:100%;
    height:100vh;
    overflow: hidden;
    background-color: rgba(24, 24, 24, 0.98);
    z-index: 1000;
}
.pdf-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.pdf-iframe{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 4px;
}
.pdf-close-btn {
    position: absolute;
    top: 10px;
    right: 80px;
    background: transparent;
    color: #fafafa;
    border: none;
    font-size: 2.5em;
    cursor: pointer;
    z-index: 2000;
}