@import url('https://fonts.googleapis.com/css?family=Abel');

html, body {
  margin:0;
  padding:0;
  width:0;
  height:0;
  font-family: Abel, Arial, Verdana, sans-serif;
}

body{
  background-color:#f1f1f1;
  transition: background 0.2s linear;
}
body.theme{
  background-color:#1c1c1c;
}

.switch-box{
  position: absolute;
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  margin-left:775px;
}

.checkbox{
  opacity: 0;
  position:absolute;
}

.label{
  display:flex;
  justify-content: space-between;
  background-color:#2b5cc7;
  width:39px;
  height:18px;
  padding:2px;
  padding-left:4px;
  border-radius:45px;
  cursor:pointer;
  position:relative;
  transform: scale(1);
}

.label .ball{
  background-color:#fff;
  border-radius: 50%;
  position:absolute;
  top:1.5px;
  left:2px;
  width:18px;
  height:18px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball{
  transform: translateX(21.5px);
}

.fa-moon{
  color: #e7cf76;
  transform: scale(0.8);
}
.fa-sun{
  color: #c5aa47;
  transform: scale(0.7);
}


.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
}

.card-photo{
  width:100px;
  height:100px;
  position:absolute;
  margin:20px 0px 0px 100px;
}

#photo{
  border-radius:50%;
  width:100px;
}

.card {
  width: 800px;
  height: 350px;
  background-color: #fff;
  background: linear-gradient(#f8f8f8, #fff);
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;
}

.card h1 {
  text-align: center;
}

.card .additional {
  position: absolute;
  width: 315px;
  height: 100%;
  background: linear-gradient(#2b5cc7, #4371d3);
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}
.card:hover .additional {
  width: 100%;
  border-radius: 0 5px 5px 0;
}

.card .additional .user-card {
  width: 150px;
  height: 100%;
  position: relative;
  float: left;
}

.card .additional .user-card::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: -2px;
  height: 80%;
  border-left: 2px solid rgba(0,0,0,0.025);*/
}

.card .additional .more-info {
  width: 300px;
  float: left;
  position: absolute;
  left: 350px;
  height: 100%;
}

.card .additional .more-info h1 {
  color: #fff;
  margin-bottom: 0;
}


.card .additional .coords {
  margin: 0 1rem;
  color: #fff;
  font-size: 1rem;
  padding:10px;
}

.card .additional .coords span + span {
  float: right;
}

.card .additional .stats {
  font-size: 1.6rem;
  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  top: auto;
  color: #fff;
}

.card .additional .stats > div {
  flex: 1;
  text-align: center;
}
a{
    text-decoration:none;
    color:#fff;
}
.card .additional .stats div.title {
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
  padding:12px;
}

.card .additional .stats div.value {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
}

.card .additional .stats div.value.infinity {
  font-size: 2.5rem;
}

.card .general {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 2.5rem;
  padding-top: 0;
  margin-right:140px;
  text-align: justify;
}

.card .general .more {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.9em;
}

.card-skills{
  margin-top:135px;
  margin-left:40px;
  position:absolute;
}

.skills{
  width:100%;
  max-width:250px;
  padding: 0 25px;
  margin:16px;
}

.skills-name{
  color: #fff;
  font-size:13.5px;
  font-weight:550;
  text-transform: uppercase;
  margin:5px 0;
}

.skill-bar{
  height: 11px;
  background: #f1f1f1;
  border-radius:8px;
}

.skill-per{
  height:11px;
  background-color: #0fbcf9;
  border-radius:8px;
  width: 0;
  transition: 1.5s linear;
  position: relative;
}

.skill-per::before{
  content: attr(per);
  position:absolute;
  padding:4px 6px;
  background-color: #000;
  color:#fff;
  font-size:12px;
  border-radius: 4px;
  top: -35px;
  right: 0;
  transform: translateX(50%);
}

.skill-per::after{
  content:'';
  position:absolute;
  width:10px;
  height:10px;
  background-color:#000;
  top:-16px;
  right:0;
  transform: translateX(50%) rotate(45deg);
  border-radius: 2px;
}